extends navbar

//- append nav
//-   if user
//-     div
//-       a(href="/Users/" + user.id) My Profile
//-   else
//-     div
//-       a(href='/Login') Log In
//-     div
//-       a(href='/Signup') Create Account

block content
  if user
    p(class='home__user__p')=user.username

  if stories
    each story in stories
      p=story.title
      p=story.story
      p=story.liked
        each liker in story.StoryLikes
          //- button for likers
          p=liker.User.username
