extends layout.pug

append head
  style
    include ../public/stylesheets/stories.css
  script
    include ../public/javascripts/story.js

block content
  div(class='container')
    div(class='title__container')
      div(class='title__spacer')
      div(class='title__div')
        h2=story.title
      div(class='story__likes')
        div(class='like__spacer')
        div(class='like__text__div')
          span(class='like__text') Likes: #{story.liked}
          if isLiked
            button(type='submit' class='like__button' id='like-button' disabled=true) Like
          else
            button(type='submit' class='like__button' id='like-button' disabled=false) Like
          if isLiked
            button(type='submit' class='like__button' id='dislike-button' disabled=false) Unlike
          else
            button(type='submit' class='like__button' id='dislike-button' disabled=true) Unlike
        div(class='like__spacer')
        input(id='info_input' class='hidden' value=story.id)
    div(class='story__div')
      p=story.story
    div(class='story__container')
      div(class='story__comments')
        div comment
