extends layout.pug

append head
  style
    include ../public/stylesheets/stories.css
    include ../public/stylesheets/navbar.css
  script
    include ../public/javascripts/story.js

block content
  div(class='container')
    div(class='title__container')
      div(class='title__spacer')
        div(class='follow__title')
        if user
          label(class='label__follow__info hidden') #{user.id} #{story.author_id}
      div(class='title__edit')
        if currentUsersStory
          button(id='story__delete__button') Delete Story
          form(action="/Stories/" + story.id + '/Edit' method='GET')
            button(type='submit') Edit Story
      div(class='title__div')
        h2(class='story__title')=story.title
      div(class='story__likes')
        div(class='like__spacer')
        div(class='like__text__div')
          span(class='like__text') Likes: #{story.liked}
          if loggedIn
            if isLiked
              button(type='submit' class='like__button' id='like-button' disabled=true) Like
            else
              button(type='submit' class='like__button' id='like-button' disabled=false) Like
            if isLiked
              button(type='submit' class='like__button' id='dislike-button' disabled=false) Unlike
            else
              button(type='submit' class='like__button' id='dislike-button' disabled=true) Unlike
        div(class='like__spacer')
        input(id='info_input' class='hidden' value=story.id)
    div(class='story__div')
      p(class="story__text")=story.story
    div(class='story__container')
      div(class='story__comments')
        each comment in comments
          div(class='comment_container')
            div(class='comment__author') #{comment.User.username} says:
            div(class='comment__text')=comment.comment
            div(class='comment__like__parent')
              div(class='comment__like__container')
                div(class='comment__created')=comment.createdAtz
                if comment.mine
                  button(class='comment__delete__button' id=comment.id) delete
        form(action="/Stories/" + story.id id='comment__form')
          label(for="comment__box") Comment:
          input(type='text' id='comment__box')
          button(type='submit') Submit
