

mixin userCard(users, followers, currentUser)
    each user in users
        +cardContainer(user, followers, currentUser, id)


mixin followUserButton(user)
    if user.isFollowed
        input(class='hidden userID' value=user.id)
        button(class='hidden button__primary button__primary--active' id='follow') Follow
        button(class='button__primary button__primary--active' id='unfollow') Unfollow
    else
        input(class='hidden userID' value=user.id)
        button(class='button__primary button__primary--active' id='follow') Follow
        button(class='hidden button__primary button__primary--active' id='unfollow') Unfollow

mixin tableCard(user)
    div(class='table')
        div
            div(class='table__text') Followers:
            div(class='table__text') Stories:
        div
            div=user.followersNumber
            div=user.Stories.length

mixin cardContainer(user, followers, currentUser, id)
    div(class="cardContainer__userCard")
        if user.Stories.length > 0
            span(class="author") Author
        img(class="round" src=`${user.profileImage}`)
        h3(class='h3__userCard')=user.username
        h6(class='h6__userCard') --Insert Bio Here--
        div(class="div__buttons__userCard")
            +followUserButton(user)
            a(class="a__userCard" href=`/Users/${user.id}/`)
                button(class='button__primary' ) View Profile
        div(class="div__listContainer__userCard")
            +tableCard(user)
