

mixin userCard(users, followers, currentUser)
    -var id = 0;
    each user in users
        - ++id
        div(class='div__userCard__space')
        +cardContainer(user, followers, currentUser, id)


mixin followUserButton(user, followers, currentUser, id)
    -var follow = true;
    each follower in followers[user.id]
        if currentUser == follower
            button(id=`${id} unfollowButton` class='button__primary button__primary--active button__primary__unfollow' value=`${user.id} ${currentUser}`) Unfollow
            button(id=`${id} followButton` class='button__primary button__primary--active button__primary__follow button__primary--hidden' value=`${user.id} ${currentUser}`) Follow
            -follow = false
    if currentUser !== user.id && follow == true && currentUser
        button(id=`${id} followButton` class='button__primary button__primary--active button__primary__follow' value=`${user.id} ${currentUser}`) Follow
        button(id=`${id} unfollowButton` class='button__primary button__primary--active button__primary__unfollow button__primary--hidden' value=`${user.id} ${currentUser}`) Unfollow

mixin tableCard(user, followers)
    table
        thead
            tr
                th Followers
                th Stories
        tbody
            tr
                td=followers[user.id].length
                td=user.Stories.length

mixin cardContainer(user, followers, currentUser, id)
    div(class="cardContainer__userCard")
        span(class="author") Author
        img(class="round" src=`${user.profileImage}`)
        h3(class='h3__userCard')=user.username
        h6(class='h6__userCard') --Insert Bio Here--
        div(class="div__buttons__userCard")
            +followUserButton(user, followers, currentUser, id)
            a(class="a__userCard" href=`/Users/${user.id}/`)
                button(class='button__primary' ) View Profile
        div(class="div__listContainer__userCard")
            +tableCard(user, followers)
